.ratio-box {
  position: relative;
  height: 0;
  display: block;
}

// containers
.lazy-img {
  margin: auto;
  overflow: hidden;

  &.ratio-100 {
    padding-bottom: 100%;
  }

  &.ratio-61 {
    padding-bottom: 61%;
  }

  &.ratio-56 {
    padding-bottom: 56.66%;
  }

  &.ratio-40 {
    padding-bottom: 40%;
  }

  &.ratio-30 {
    padding-bottom: 30%;
  }


  &.ratio--logo {
    padding-bottom: 150px;
    width: 150px;
  }  

}

.ratio-box img,
.ratio-box iframe,
.ratio-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.img-small {
  filter: blur(15px);
  transform: scale(1);
}

.img-large {
  opacity: 0;
}

.img-large.lazyloaded {
  opacity: 1;
  transition: opacity 300ms linear;
}

.figure-container {
  width: 700px;
  margin: auto;

  &.table-img {
    width: 400px;
    margin: auto;
  }

  &.ratio-gif--1of3 {
    width: 300px;
  }  
}





// blockquote images

@media (max-width: 1700px) {
  .figure-container {
    width: 600px;
    margin: auto;
  }
}

@media (max-width: 1500px) {
  .figure-container {
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 1300px) {
  .figure-container {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 1100px) {
  .figure-container {
    width: 350px;
    margin: auto;
  }
}

// 1024px
@media (max-width: $laptop-width) {
  .figure-container {
    width: 500px;
    margin: auto;
  }
}

// 767
@media (max-width: $phone-width) {
  .figure-container {
    width: 500px;
    margin: auto;
  }
}

@media (max-width: 540) {
  .figure-container {
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 540) {
  .figure-container {
    width: 300px;
    margin: auto;
  }
}


// table-img media screen

@media (max-width: 1780px) {
  .figure-container {
    &.table-img {
      width: 350px;
      margin: auto;
    }
  }
}

@media (max-width: 1630px) {
  .figure-container {
    &.table-img {
      width: 300px;
      margin: auto;
    }
  }
}

@media (max-width: 1420px) {
  .figure-container {
    &.table-img {
      width: 250px;
      margin: auto;
    }
  }
}

@media (max-width: 1220px) {
  .figure-container {
    &.table-img {
      width: 200px;
      margin: auto;
    }
  }
}

@media (max-width: $laptop-width) {
  .figure-container {
    &.table-img {
      width: 300px;
      margin: auto;
    }
  }
}

@media (max-width: 878px) {
  .figure-container {
    &.table-img {
      width: 250px;
      margin: auto;
    }
  }
}


@media (max-width: $phone-width) {
  .figure-container {
    &.table-img {
      width: 400px;
      margin: auto;
    }
  }
}

// gif

@media (max-width: 2000px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 250px;
    }  
  }
}

@media (max-width: 1700px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 200px;
    }  
  }
}

@media (max-width: 1400px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 150px;
    }  
  }
}

@media (max-width: 1150px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 120px;
    }  
  }
}

@media (max-width: $laptop-width) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 250px;
    }  
  }
}

@media (max-width: 970px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 200px;
    }  
  }
}

@media (max-width: 850px) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 180px;
    }  
  }
}

// 767
@media (max-width: $phone-width) {
  .figure-container {
    &.ratio-gif--1of3 {
      width: 300px;
    }  
  }
}