<script>
// var allCache = [];

if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
  // assets for caching
  // an array of all the video paths in the DOM
  // var i, p, n, c, l;

  var video = document.getElementsByTagName('video');
  var videoPaths = [];

  for (var i = 0; i < video.length; i++) {
      var allVideo = video[i];
      var webmSrc = allVideo.childNodes[1].getAttribute('src')
      var mp4Src = allVideo.childNodes[3].getAttribute('src')
      // videoPaths.push({'webm_src': webmSrc, 'mp4_src': mp4Src})
      videoPaths.push(webmSrc)
      videoPaths.push(mp4Src)
  }

  // an array of all the poster img paths in the DOM
  var videoPoster = document.getElementsByTagName('video');
  var posterPaths = [];

  for (p = 0; p < videoPoster.length; p++) {
    var allPosters = videoPoster[p];
    var posterSrc = allPosters.getAttribute('poster')
    posterPaths.push(posterSrc)
  }
  // an array of all the picture img paths in the DOM
  var pic = document.getElementsByTagName('picture');
  var picPaths = [];

  for (n = 0; n < pic.length; n++) {
    var allPic = pic[n];
    var webpSrc = allPic.childNodes[1].getAttribute('srcset')
    var jpegSrc = allPic.childNodes[3].getAttribute('srcset')
    picPaths.push(webpSrc)
    picPaths.push(jpegSrc)
  }
  // an array of all the quick nav link icons paths in the DOM
  var introImg = document.getElementsByClassName('intro-image');
  var introPaths = [];

  for (c = 0; c < introImg.length; c++) {
    var allIntro = introImg[c];
    var jpgSrc = allIntro.getAttribute('data-src')
    introPaths.push(jpgSrc)
  }
  // an array of all the logo img paths in the DOM
  var logoImg = document.getElementsByClassName('logo');
  var logoPaths = [];

  for (l = 0; l < logoImg.length; l++) {
    var allLogo = logoImg[l];
    var svgSrc = allLogo.getAttribute('src')
    logoPaths.push(svgSrc)
  }
  console.log(videoPaths);
  console.log(posterPaths);
  console.log(picPaths);
  console.log(introPaths);
  console.log(logoPaths);

  var allCache = videoPaths.concat(posterPaths, picPaths, introPaths, logoPaths)
  // console.log(allCache);

    navigator.serviceWorker.register('/pupil_sw.min.js').then(function(registration) {
      // Registration was successful
      // console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>