<figure class="{{ with .Get "figure-class" }}{{ . }}{{ end }}">
	<div class="{{ with .Get "div-class" }}{{ . }}{{ end }}">
		<img src="{{ with .Get "src" }}{{ . }}{{ end }}" class="img-small" width="{{ with .Get "small-width" }}{{ . }}{{ end }}" height="{{ with .Get "small-height" }}{{ . }}{{ end }}">
		<img data-src="{{ with .Get "data-src" }}{{ . }}{{ end }}" class="img-large lazyload" width="{{ with .Get "large-width" }}{{ . }}{{ end }}" height="{{ with .Get "large-height" }}{{ . }}{{ end }}">
	</div>
</figure>


